body{
  background-color: #eef9bf;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameTitle{
  width: 100%;
  margin-top: 20px;
  font-size: 80px;
  font-family: fantasy;
  color: #75b79e;
  text-align: center;
}

#boardGame{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.frente{
  width: 50px;
}

.card{
  width: 117px;
  height: 146px;
  background-color: #a7e9af;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  transition: 2000ms;
}

.back{
  display: none;
}

.toFront{
  display: inline !important;
}

.turn{
  transition: 2000ms;
  transform: rotateY(180deg)
}

@media screen and (max-width: 375px){
  .gameTitle{
    font-size: 45px;
  }

  #boardGame{
    flex-direction: column;
    align-items: center;
  }
  

}

